[Unit]
Description=lz's firewall
After=network.target auditd.service

[Service]
ExecStart=/opt/lz/rpi-sensor-block/services/firewall.pl
# ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lz.firewall
