[Unit]
Description=lz's main rpi sensor reader
After=network.target auditd.service lz.multicast.service

[Service] 
ExecStart=/opt/lz/rpi-sensor-block/services/lz.rpi/gpio.pl
# ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lz.rpi
