[Unit]
Description=lz's main ard reader.
After=network.target auditd.service

[Service]
ExecStart=/opt/lz/rpi-sensor-block/perl/services/ard.pl
# ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=lz.ard
